* {
  box-sizing: border-box;
}

html {
  padding:10px;
  background-color: #f5f5f5;
  background: linear-gradient(#f5f5f5, #9b9b9b) fixed ;
}



main {
 display: block; 
 position: relative;
 font-family: 'Quicksand', sans-serif;
 margin: 0 auto;
 margin-top: 20%;
 margin-bottom: 10px;
 min-width: 300px;
 max-width: 600px;
 width: 60%;
 background-color: white;
 box-shadow: 0px 3px 5px -1px #525252cc;
 border-radius: 10px;
}

@media screen 
  and (max-width: 480px) {
  main {
    margin-top: 5px;
  }
}

legend {
  text-align: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 15px;
  margin-bottom: 20px;
  color:  #000000;
}

input#search {
  border: 01px solid #9b9b9b;
  border-radius: 3px 0 0 3px;
  padding-left: 10px;
  min-width: 200px;
  width: 70%;
  height: 36px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  vertical-align: bottom;
  margin-bottom: 10px;
}

input#search::-webkit-input-placeholder {
  color: #9b9b9b;
}

button#submit {
  position: relative;
  border: 1px solid #ff0000;
  border-left: 0;
  border-radius: 0 3px 3px 0;
  padding: 0;
  height: 36px;
  width: 60px;
  font-weight: 700;
  color: #ffffff;
  background: #ff0000;
  margin-bottom: 10px;
  margin-left: -5px;
}


fieldset {
  border: none;
}

.results {
  visibility: hidden;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1038px;
  box-shadow: 0px 3px 5px -1px #525252cc;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
}

.result {
  align-items: center;
  margin: 10px;
  max-width: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 5px -1px #525252cc;
  background-color: white;
}

.caption {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding: 0 10px;
  font-weight: bold;

}
img {
  width: 300px;
  max-height: 180px;
}