* {
  box-sizing: border-box;
}

html {
  padding:10px;
  background-color: #978d81;
}

main {
 display: block;
 font-family: 'Quicksand', sans-serif;
 margin: 0 auto;
 margin-top: 10px;
 margin-bottom: 10px;
 max-width: 1038px;
 box-shadow: 0px 3px 5px -1px #525252cc;
 background-color: #efefef;
 border-radius: 10px;
}

legend {
  text-align: center;
  font-size: 46px;
  font-family: 'Slackey', cursive;
  margin-bottom: 10px;
  color:  #e20f0f;
  text-shadow: 0px 2px 1px #525252cc;
}

input#search {
  text-align: center;
  border: 0;
  padding-left: 10px;
  min-width: 200px;
  width: 80%;
  height: 36px;
  font-family: 'Quicksand', sans-serif;
  box-shadow: inset 0px 3px 5px -1px #525252cc;
  font-size: 24px;
  vertical-align: bottom;
  margin-bottom: 10px;
}

input#search::-webkit-input-placeholder {
  color: #9b9b9b;
}

button#submit {
  position: relative;
  border: 0;
  padding: 0;
  height: 36px;
  width: 110px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #fff;
  box-shadow: 0px 2px 2px 0px #525252cc;
  text-transform: uppercase;
  background: #3c85d8;
  text-shadow: 0 -1px 0 #525252cc;
  margin-bottom: 10px;
}


fieldset {
  border: none;
}

.results {
  visibility: hidden;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1038px;
  box-shadow: 0px 3px 5px -1px #525252cc;
  background-color: #efefef;
  border-radius: 10px;
  padding-top: 10px;
}

.result {
  margin: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  box-shadow: 0px 3px 5px -1px #525252cc;
  background-color: white;
}

.caption {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  max-width: 320px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding: 0 10px;
  font-weight: bold;

}
.thumbnail {
  min-width: 320px;
  max-height: 180px;
}